.formulaire{
    margin: auto;
    display: flex;
    justify-content: center;
    color: #344D59;
}

.container-form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container-form > div {
    margin-top: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container-form > div > label {
    position: absolute;
    right:200px;

}

#fq-sport {
    width: 106px;
}
#psw-label-1 {
    width: 176px;
}
#psw-label-2 {
    width: 192px;
}

.container-form > div > p {
    position: absolute;
    left:200px;
    width: 400px;
}

.container-form > div > input {
    border-radius: 25px;
    height: 25px;
    padding: 0 5px;
}